---
---

@import "{{ site.theme }}";

.dropDownBtn {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

.page-title {
  display: inline-block;
  // add back in after menu button is functional: margin: 10px;
}
.circle {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.center-img {
  width: 70%;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

.back {
  float: left;
  font-size: 20px;
  color: black;
}

.picture {
  border-radius: 5%;
}

@media only screen and (max-width: 960px) and (min-width: 750px) {

  .description {
    width: 30%;
    padding-right: 25px;
    float: left;
    position: fixed;
  }

  .projects {
    width: 60%;
    padding-top: 0;
    float: right;
  }

}

@media only screen and (max-width: 750px) {

  .page-title {
    margin-top: 0;
  }
}

//get rid of grey line on tablet 
@media print, screen and (max-width: 960px) section {
  border: none;
}