---
---

@import "{{ site.theme }}";

.circle {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.center-img {
  width: 70%;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
}

.back {
  float: left;
  font-size: 20px;
  color: black;
}

.picture {
  border-radius: 5%;
}

@media only screen and (max-width: 960px) and (min-width: 750px) {

  .description {
    width: 30%;
    padding-right: 25px;
    float: left;
    position: fixed;
  }

  .projects {
    width: 60%;
    padding-left: 25px;
    float: right;
  }

}
