---
---

@import "{{ site.theme }}";

.circle {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.back {
  float: right;
  font-size: 20px;
  color: black;
}